[alias]
  lol = log --graph --oneline --decorate=short
  lola = log --graph --oneline --all --decorate=short
  ci = commit
  co = checkout
  sw = switch

[color]
  status = auto
  diff = auto
  branch = auto
  ui = auto

[commit]
  # include diff at the bottom of the commit (see 'git commit -v')
  verbose = true
  template = ~/.gitmessage

[core]
  # APFS is, by default, case-insensitive; avoid nasty case-difference situations...
  ignoreCase = true
  editor = vim
  excludesfile = ~/.gitignore

[include]
	path = ~/.git-together
  path = ~/.gitconfig-grep

[push]
  default = simple
  autoSetupRemote = true

[pull]
  rebase = true

[status]
  ; include anything that's been stashed in `git status`
  showStash = true

[init]
	defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
