[alias]
  lol = log --graph --oneline --decorate=short
  lola = log --graph --oneline --all --decorate=short
  ci = commit
  co = checkout

[color]
  status = auto
  diff = auto
  branch = auto
  ui = auto

[commit]
  # include diff at the bottom of the commit (see 'git commit -v')
  verbose = true

[core]
  # APFS is, by default, case-insensitive; avoid nasty case-difference situations...
  ignoreCase = true
  editor = vim
  excludesfile = ~/.gitignore

[include]
	path = ~/.git-together
  path = ~/.gitconfig-grep
  path = ~/.gitconfig-sign

[push]
  default = simple

[status]
  ; include anything that's been stashed in `git status`
  showStash = true

[init]
	defaultBranch = main
[user]
	email = john@mechanical-orchard.com
	name = John Ryan
