<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.fix-input-volume</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>bash</string>
        <string>/Users/johnnycyberseed/rucksack/OSX/bin/fix-input-volume.sh</string>
        <string>100</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardErrorPath</key>
    <string>/tmp/fix-input-volume.err</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/fix-input-volume.out</string>
    
    <key>ThrottleInterval</key>
    <integer>1</integer>
</dict>
</plist> 