<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(q)
    tell application "Ghostty"
        set cfg to new surface configuration
        set win to new window with configuration cfg
        set paneEditor to terminal 1 of selected tab of win

        input text q to paneEditor
        send key "enter" to paneEditor
    
        focus paneEditor
    end tell
end alfred_script</string>
	<key>prefix</key>
	<integer>2</integer>
</dict>
</plist>
