# Example .bashrc using rucksack; copy and customize.
RUCKSACK_HOME=~/rucksack

source "$RUCKSACK_HOME/bash/.bashrc/aliases"
source "$RUCKSACK_HOME/bash/.bashrc/solarize"
# source `history` before `prompt` to keep all shell history in-sync.
source "$RUCKSACK_HOME/bash/.bashrc/history"
source "$RUCKSACK_HOME/bash/.bashrc/prompt"
source "$RUCKSACK_HOME/bash/.bashrc/lscolors"

export PATH="$PATH:$RUCKSACK_HOME/bin"
