# Example .bashrc using rucksack; copy and customize.
RUCKSACK_HOME=~/rucksack

source "$RUCKSACK_HOME/bash/.bashrc/aliases"
source "$RUCKSACK_HOME/bash/.bashrc/solarize"
source "$RUCKSACK_HOME/bash/.bashrc/prompt"

export LSCOLORS="exGxfxfxBxfxFxbxbxgxgx"

export PATH="$PATH:$RUCKSACK_HOME/bin"
